<!DOCTYPE html>
<html>
<head>
    <title>Employees</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Employees</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="employees-list">
            </tbody>
        </table>
        <a href="{% url 'add_employee' %}" class="btn btn-success">Add Employee</a>
        <a href="{% url 'clients' %}" class="btn btn-primary">Clients</a>
        <a href="{% url 'visits' %}" class="btn btn-info">Visits</a>

    </div>
    <script src="{% static 'frontend/js/employees.js' %}"></script>
</body>
</html>