<!DOCTYPE html>
<html>
<head>
    <title>Visits</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Visits</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Client</th>
                    <th>Employee</th>
                    <th>Planned Start</th>
                    <th>Planned End</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="visits-list">
            </tbody>
        </table>
        <a href="{% url 'add_visit' %}" class="btn btn-success">Add Visit</a>
        <a href="{% url 'clients' %}" class="btn btn-primary">Clients</a>
        <a href="{% url 'employees' %}" class="btn btn-info">Employees</a>
    </div>
    <script src="{% static 'frontend/js/visits.js' %}"></script>
</body>
</html>